.App {
  background-color: white;
  color: #292730;
  height: 100%;
}

.App.dark {
  background-color: #292730;
  color: white;
}

.App header {
  background-color: #e3e3e3;
  box-shadow: 0px 0px 5px black;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.App.dark header {
  background-color: #767286;
}

.App header .user-section {
  display: flex;
}

.App header .theme-selector {
  cursor: pointer
}

.App main {
  padding: 20px;
}
