.todo {
  background-color: #f3f058;
  border: 1px solid #ccc;
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

.todo.dark {
  background-color: #52511e;
}

.todo input {
  background-color: #f7f5a0;
  border: 1px solid #ccc;
  padding: 3px 5px;
  width: 285px;
}

.todo.dark input {
  background-color: #878548;
  color: white;
}

.todo.dark input::placeholder {
  color: #eee;
}

.todo ul {
  margin: 0 0 10px 0;
}
